:root {
    --primary-color: rgb(82, 36, 127);
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/*
 * ----------------------------- header --------------------------
 */


.header {
    display: grid;
    grid-template-columns: 1fr .3fr;
    border: 2px red solid;
}


 /*
 * ----------------------------- content --------------------------
 */
form {
    border: 2px solid green;
    position: absolute;
    top: 40%;
    right: 40%;
}


.hidden {
    display: none;
}

.card {
    border: 2px solid red;
    width: 250px;
    height: 200px;
}

/*
 *  Styling for "Read" buttons
 */
.green {
    background-color: rgb(8, 188, 8);
}

.red {
    background-color: rgb(241, 114, 114);
}

